<html>
  <head>
    <meta content='{{ site.title }}' property='og:title' />
    <title>{{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <p id="whoami">
      <span class="down">Part engineer, part designer. 100% R&amp;D enthusiast.<br /> Love a challenge.</span> I'm here to build cool shit.
    </p>
    <div id='container'>
      {% include links.html %}
      <div class="content">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
